<div class="card bg-gradient-light">
  <div class="card-header bg-white d-flex align-items-center justify-content-between">
    <h5 class="m-0">Articles</h5>
    <button type="button" url="/article/new" redirect="true" method="post" class="btn-primary btn-sm linkable">
      New<i class="fas fa-plus ml-2"></i>
    </button>
  </div>
  <div class="card-body">
    <div>Coming Soon...</div>
  </div>
</div>
