<div class="card bg-danger">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h5 class="m-0 text-white">Install IOS Haven App</h5>
    <a href="/app.mobileconfig" class="btn btn-light btn-sm">
      Install<i class="fas fa-download ml-2"></i>
    </a>
  </div>
</div>
