<div class="input-group highlighted-search text-normal autocomplete"
     data-source="<?= source ?>"
     data-template="<?= template ?>"
     data-search="<?= search ?>"
     data-limit="<?= limit ?>">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="icon-search text-muted"></i></span>
  </div>
  <div class="position-relative w-100">
    <input type="text" class="form-control auto-download" placeholder="<?= placeholder ?>" id="<?= typeof id !== 'undefined' ? id : '' ?>">
  </div>
  <ul class="list-group autocomplete-results"></ul>
</div>
