<span class="d-inline-flex">

  <? if (user) {?>
    <span class="linkable mr-3 text-primary" url="/dashboard"><i class="fal fa-sliders-h"></i></span>
    <span class="avatar linkable" url="/me"><img src="<?= user.avatar ?>" alt="profile-image"></span>
  <? } else { ?>
    <a href="#/login" class="mr-3">
      <i class="fal fa-sliders-h"></i>
    </a>
    <a href="#/login">
      <i class="fal fa-user-circle"></i>
    </a>
  <? } ?>
</span>
