<div class="page-title-fixed"><span><?= title || 'IOS Haven' ?></span></div>
<div class="page-title">
  <?= title || 'IOS Haven' ?>
  <span class="d-inline-flex">
    <a href="/dashboard" class="mr-3">
      <i class="fal fa-sliders-h"></i>
    </a>
    <?- include('avatar') ?>
  </span>

</div>
