
<!-- <script src="/js/jquery-mobile-custom.min.js" charset="utf-8"></script> -->

<script src="/js/app.js" charset="utf-8"></script>
<script src="/js/renderer.js" charset="utf-8"></script>
</body>
</html>
