
<!-- <script src="/js/jquery-mobile-custom.min.js" charset="utf-8"></script> -->

<!-- Start emojicom.io widget -->
<!-- <script>
window.EMOJICOM_WIDGET = {
  campaign: "d1qWMeVt3jTcRiJh9ntj"
};
</script> -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<!-- <script src="https://cdn.emojicom.io/embed/widget.js" async></script> -->
<!-- End emojicom.io widget -->
<!-- <script src="/js/autocomplete.js" charset="utf-8"></script> -->
<script src="/js/app.js" charset="utf-8"></script>
<script src="/js/renderer.js" charset="utf-8"></script>
</body>
</html>
