<div class="page-title-fixed"><span><?= title || 'IOS Haven' ?></span></div>
<div class="page-title">
  <?= title || 'IOS Haven' ?>
  <a href="#/login">
    <i class="fal fa-user-circle"></i>
  </a>
</div>
