<?- include('header') ?>

<div id="app" class="container px-2 has-toolbar">
  <div class="toolbar-bottom">
    <div class="item linkable active" url="#/">
      <i class="icon-today"></i>
      <div class="label">Today</div>
    </div>
    <div class="item linkable" url="#/games">
      <i class="icon-games"></i>
      <div class="label">Games</div>
    </div>
    <div class="item linkable" url="#/apps">
      <i class="icon-apps"></i>
      <div class="label">Apps</div>
    </div>
    <div class="item linkable" url="#/updates">
      <i class="icon-updates"></i>
      <div class="label">Updates</div>
    </div>
    <div class="item linkable" url="#/search">
      <i class="icon-search"></i>
      <div class="label">Search</div>
    </div>
  </div>
  <div id="pages" class="has-toolbar-bottom"></div>
