* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 0rem;
  font-size: 16px;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

i {
  color: inherit;
}

#loading {
  position: fixed;
  height: 100%;
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  z-index: 200;
  flex-wrap: wrap;
}

#app {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap
}
.text-normal, .text-normal *{
  font-size: 1rem !important;
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.page-hidden {
  opacity: 0;
  visibility: hidden;
  height: 0 !important;
  overflow: hidden;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  &.push-up { top: 99vh; transition: top 0.5s ease 0.1s;}
  &.push-down { top: -100vh; transition: top 0.5s ease 0.1s;}
  &.push-left { left: -100vw; transition: left 0.5s ease 0.1s;}
  &.push-right { left: 100vw; transition: left 0.5s ease 0.1s;}
  &.page-visible {
    visibility: visible;
    height: auto;
    &.push-up, &.push-down {top: 0; opacity: 1;}
    &.push-left, &.push-right {left: 0; opacity: 1;}
  }
  &.popover {
    border: none;
    z-index: 200;
    position: fixed;
    height: 100vh;
    width: 100vw;
    max-width: none;
  }
}



a:hover {
  text-decoration: underline;
}

.page {
  // background: white;
  // overflow-y: auto;
  // overflow-x: hidden;
  // padding: 0px 0.5rem;
  // position: fixed;
  width: 100%;
  height: 100%;
  // top: 0;
  // left: 0;
}

.has-toolbar-bottom{
  padding-bottom: 50px;
}

.page-title {
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid #b2b2b2;
    margin-top: 40px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    * {
      font-size: 2rem;
    }
    .subtitle {
      font-size: 1rem;
      position: absolute;
      top: -20px;
      left: 0;
    }
    &.flexible {
      flex-wrap: wrap;
      height: auto;
    }
}

.page-title-fixed {
  font-size: 1.05rem;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
  background: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0;
  z-index: 100;
  span {
    opacity: 0;
    transition: all 0.2s;
  }
  &.visible span {
    opacity: 1;
  }
  &.has-border {
    border-bottom: 1px solid #b2b2b2;
  }
}

.section-title {
  font-weight: 600;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  &.top {
    border-top: 1px solid #cdced3;
    margin-top: 1.5rem;
    margin-bottom: 0;
    padding: 0.5rem 0 0;
  }
  &.bottom {
    border-bottom: 1px solid #cdced3;
    margin-bottom: 1.5rem;
    margin-top: 0;
    padding: 0 0 0.5rem;
  }
}

.section-title a {
  margin-left: auto;
  font-weight: 100;
  font-size: 1.1rem;
}

.icon {
  vertical-align: middle;
  border-style: none;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  &.app {
    height: 82px;
  }
}


.item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 0rem;
  border-bottom: 1px solid #cdced3;
}

.item-content-title {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

.item-content-subtitle {
  font-size: 0.75rem;
  font-weight: 100;
}

.item-content-subtitle:nth-child(2) {
  margin-top: 0.2rem;
}

.item-media {
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-media img {
  height: 65px;
}

.item-actions {
  border-bottom: 1px solid #cdced3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-grouping .item:last-child .item-content,
.item-grouping .item:last-child .item-actions,
{
    border: none;
}

.app-link.apple {
    color: #007aff;
    padding: 0.3rem 1rem;
    background: #eee;
    border-radius: 5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
}

.item-slider {
  display: flex;
  overflow-x: scroll;
  overflow-x: -moz-scrollbars-none;
  overflow-y: hidden;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-scroll-snap-type: mandatory;
      -ms-scroll-snap-type: mandatory;
          scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-x: repeat(100%);
      -ms-scroll-snap-points-x: repeat(100%);
          scroll-snap-points-x: repeat(100%);
  -webkit-scroll-snap-destination: 50% 50%;
      -ms-scroll-snap-destination: 50% 50%;
          scroll-snap-destination: 50% 50%;
  .item-grouping {
    scroll-snap-align: start;
    -webkit-scroll-snap-coordinate: 50% 50%;
        -ms-scroll-snap-coordinate: 50% 50%;
            scroll-snap-coordinate: 50% 50%;
    display: inline-block;
    scroll-snap-align: start;
  }
  &::-webkit-scrollbar {
  display: none;
  }
}


.toolbar-bottom {
  position: fixed;
  background: white;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 100;
  border-top: 1px solid #b2b2b2;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .item {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: -0.2rem 0.2rem 0;
    width: 60px;
    i {
      font-size: 1.2rem;
    }
    * {
      color: #a1a1a1;
    }
    &:hover *, &.active * {
      color: $blue;
    }
    .label {
      width: 100%;
      text-align: center;
      font-size: 0.7rem;
    }
  }
}

@supports (-webkit-overflow-scrolling: touch) and ((backdrop-filter: blur(10px)) or (--webkit-backdrop-filter: blur(10px))) {
  .toolbar-bottom {
    background: rgba(255,255,255,0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.highlighted-search {
  .input-group-text {
    background: $light;
    border: none;
    padding-right: 0.25rem;
  }
  input {
    padding-left: 0.25rem;
    border-left: 0px;
    background: $light;
    border: none;
  }
  input:focus {
    border: none;
    outline: none;
    box-shadow: none;
    background: $light;
  }
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    vertical-align: top;
  }
}

.back {
    position: absolute;
    padding: 1rem;
    top: 0;
    left: 0;
    z-index: 200;
}

.list-autocomplete {
  border-top: 0px;
  border-radius: 0px !important;
  z-index: 1;
}

.autocompleter-hint {
    width: 100%;
    top: -31px;
    left: 13px;
    opacity: 0.4;
}

.autocompleter-item-selected, .autocompleter-item-selected > div {
  background: $gray-100;
}
