<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <title></title>
    <link rel="stylesheet" href="/dist/css/sniddl-mobile.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>

    <div class="page">
      <div class="page-title">Games</div>
      <div class="" style="height: 200px; background: grey; width: 100%;">

      </div>

      <div class="section-title">
        New Games We Love
        <a href="#">See All</a>
      </div>

      <div class="item">
        <div class="item-media"><img src="https://ioshavenco.s3.us-east-2.amazonaws.com/public/icons/0fKs7bHvjcFilZhavta63yItSgALa3Cu2z0ah8bh.png" alt=""></div>
        <div class="item-content">
          <div class="item-content-title">Instagram Rocket</div>
          <div class="item-content-subtitle">Tweaked Instagram</div>
        </div>
        <div class="item-actions">
          <a href="#" class="btn btn-secondary btn-link-color">Get</a>
        </div>
      </div>
      <div class="item">
        <div class="item-media"><img src="https://ioshavenco.s3.us-east-2.amazonaws.com/public/icons/TZwRsJ6gYYkT5zLKVh41lV9q5sOSEDTdfFh9vLo8.png" alt=""></div>
        <div class="item-content">
          <div class="item-content-title">Clash of Clans</div>
          <div class="item-content-title">Hack</div>
          <div class="item-content-subtitle">Hacked Clash of Clans</div>
          <!-- <div class="item-content-subtitle">Arcade Puzzler</div> -->
        </div>
        <div class="item-actions">
          <a href="#" class="btn btn-secondary btn-link-color">GET</a>
        </div>
      </div>
      <div class="item">
        <div class="item-media"><img src="https://ioshavenco.s3.us-east-2.amazonaws.com/public/icons/NZcExbJtszdCdzDkwEAkmFYwS7syrvFkILSsoTSL.png" alt=""></div>
        <div class="item-content">
          <div class="item-content-title">Bobby Movie</div>
          <div class="item-content-subtitle">Watch Free Movies</div>
          <div class="item-content-subtitle">TV Shows</div>
          <!-- <div class="item-content-subtitle">Arcade Puzzler</div> -->
        </div>
        <div class="item-actions">
          <a href="#" class="btn btn-secondary btn-link-color">GET</a>
        </div>
      </div>
    </div>






    <!-- <img src="/i.PNG" style="position: fixed; top: -22px; left: 0px; width: 100%; opacity: 0.5;"> -->

  </body>
</html>
