<%- include('layouts/header') %>
    <h1>Profile</h1>

    <img src="<%= user.avatar %>" alt="profile-image" width="40">
    <p>Welcome, <%= user.displayName %></p>

    <a href="/">Home</a>
<%- include('layouts/footer') %>
