* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 0rem;
  font-size: 16px;
  color: black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  color: #007aff;
  text-decoration: none;
}

i {
  color: inherit;
}

#loading {
  position: fixed;
  height: 100%;
  background: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  z-index: 200;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#app {
  position: relative;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text-normal,
.text-normal * {
  font-size: 1rem !important;
}

.notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.page-hidden {
  opacity: 0;
  visibility: hidden;
  height: 0 !important;
  overflow: hidden;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
}

.page.push-up {
  top: 99vh;
  -webkit-transition: top 0.5s ease 0.1s;
  transition: top 0.5s ease 0.1s;
}

.page.push-down {
  top: -100vh;
  -webkit-transition: top 0.5s ease 0.1s;
  transition: top 0.5s ease 0.1s;
}

.page.push-left {
  left: -100vw;
  -webkit-transition: left 0.5s ease 0.1s;
  transition: left 0.5s ease 0.1s;
}

.page.push-right {
  left: 100vw;
  -webkit-transition: left 0.5s ease 0.1s;
  transition: left 0.5s ease 0.1s;
}

.page.page-visible {
  visibility: visible;
  height: auto;
}

.page.page-visible.push-up,
.page.page-visible.push-down {
  top: 0;
  opacity: 1;
}

.page.page-visible.push-left,
.page.page-visible.push-right {
  left: 0;
  opacity: 1;
}

.page.popover {
  border: none;
  z-index: 200;
  position: fixed;
  height: 100vh;
  width: 100vw;
  max-width: none;
}

a:hover {
  text-decoration: underline;
}

.page {
  width: 100%;
  height: 100%;
}

.has-toolbar-bottom {
  padding-bottom: 50px;
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid #b2b2b2;
  margin-top: 40px;
  height: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-title * {
  font-size: 2rem;
}

.page-title .subtitle {
  font-size: 1rem;
  position: absolute;
  top: -20px;
  left: 0;
}

.page-title.flexible {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
}

.page-title-fixed {
  font-size: 1.05rem;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
  background: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0;
  z-index: 100;
}

.page-title-fixed span {
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.page-title-fixed.visible span {
  opacity: 1;
}

.page-title-fixed.has-border {
  border-bottom: 1px solid #b2b2b2;
}

.section-title {
  font-weight: 600;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.section-title.top {
  border-top: 1px solid #cdced3;
  margin-top: 1.5rem;
  margin-bottom: 0;
  padding: 0.5rem 0 0;
}

.section-title.bottom {
  border-bottom: 1px solid #cdced3;
  margin-bottom: 1.5rem;
  margin-top: 0;
  padding: 0 0 0.5rem;
}

.section-title a {
  margin-left: auto;
  font-weight: 100;
  font-size: 1.1rem;
}

.icon {
  vertical-align: middle;
  border-style: none;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.item.app {
  height: 82px;
}

.item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 0rem;
  border-bottom: 1px solid #cdced3;
}

.item-content-title {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

.item-content-subtitle {
  font-size: 0.75rem;
  font-weight: 100;
}

.item-content-subtitle:nth-child(2) {
  margin-top: 0.2rem;
}

.item-media {
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-media img {
  height: 65px;
}

.item-actions {
  border-bottom: 1px solid #cdced3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-grouping .item:last-child .item-content,
.item-grouping .item:last-child .item-actions {
  border: none;
}

.app-link.apple {
  color: #007aff;
  padding: 0.3rem 1rem;
  background: #eee;
  border-radius: 5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}

.item-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-x: -moz-scrollbars-none;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-x: repeat(100%);
  scroll-snap-points-x: repeat(100%);
  -ms-scroll-snap-destination: 50% 50%;
  scroll-snap-destination: 50% 50%;
}

.item-slider .item-grouping {
  scroll-snap-align: start;
  -ms-scroll-snap-coordinate: 50% 50%;
  scroll-snap-coordinate: 50% 50%;
  display: inline-block;
  scroll-snap-align: start;
}

.item-slider::-webkit-scrollbar {
  display: none;
}

.toolbar-bottom {
  position: fixed;
  background: white;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 100;
  border-top: 1px solid #b2b2b2;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toolbar-bottom .item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: -0.2rem 0.2rem 0;
  width: 60px;
}

.toolbar-bottom .item i {
  font-size: 1.2rem;
}

.toolbar-bottom .item * {
  color: #a1a1a1;
}

.toolbar-bottom .item:hover *,
.toolbar-bottom .item.active * {
  color: #007aff;
}

.toolbar-bottom .item .label {
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
}

.highlighted-search .input-group-text {
  background: #eee;
  border: none;
  padding-right: 0.25rem;
}

.highlighted-search input {
  padding-left: 0.25rem;
  border-left: 0px;
  background: #eee;
  border: none;
}

.highlighted-search input:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #eee;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  height: 100%;
  width: 100%;
  vertical-align: top;
}

