<?- include('../layouts/page-top', {tab: 'apps'}) ?>

<div class="container">
  <?- include('../layouts/page-title', {fixed: true}) ?>


  <div class="section-title top">
    New Apps We Love
    <a href="#">See All</a>
  </div>
  <div class="item-slider">
    <? for(i=0; i < apps.length; i++) {
      var app = apps[i]?>
      <? if (i % 3 == 0) { ?>
        <div class="item-grouping col-12 col-md-6 col-lg-4 px-1">
        <!-- <div class="item-grouping col-12 col-md-6 col-lg-4"> -->
      <? } ?>
      <div class="item app linkable" url="/app/<?= app.id ?>">
        <div class="item-media"><img src="<?= app.ipas[0].iconUrl ?>" alt="app icon"></div>
        <div class="item-content">
          <div class="item-content-title"><?= app.name ?></div>
          <div class="item-content-subtitle"><?= app.short ?></div>
        </div>
        <div class="item-actions">
          <? if (app.signed) { ?>
            <a href="/app/signed/<?= app.id ?>?d=<?= dsession ?>" class="app-link apple">Get</a>
          <? } else { ?>
            <a href="/app/ipa/<?= app.ipas[0].id ?>?d=<?= dsession ?>" class="app-link apple">IPA</a>
          <? } ?>
        </div>
      </div>
      <? if (i % 3 == 2) { ?>
        </div> <!-- closing item grouping -->
      <? } ?>
    <? } ?>
    <? if (20 % 3 != 0) { ?>
      </div> <!-- closing item grouping -->
    <? } ?>
  </div>

</div>

<?- include('../layouts/page-bot') ?>
