<?- include('../layouts/page-top', {tab: ''}) ?>
<div class="container has-toolbar-bottom mb-5">
  <?- include('../layouts/page-title', {fixed: true}) ?>

  <div class="row" data-masonry='{ "itemSelector": ".grid-item" }'>

    <div class="mt-4 col-12 col-md-6 grid-item">
      <?- include('../dashboard/apps') ?>
    </div>

    <form action="/article/new" method="post" class="mt-4 col-12 col-md-6 grid-item">
      <div class="card bg-gradient-light">
        <div class="card-header bg-white d-flex align-items-center justify-content-between">
          <h5 class="m-0">Articles</h5>
          <button type="submit" class="btn-primary btn-sm" disabled>New<i class="fas fa-plus ml-2"></i></button>
        </div>
        <div class="card-body">
          <div>Coming Soon...</div>
        </div>
      </div>
    </form>

    <div class="mt-4 col-12 col-md-6 grid-item">
      <?- include('../dashboard/uploadIPA') ?>
    </div>

    <div class="mt-4 col-12 col-md-6 grid-item">
      <div class="card bg-gradient-light">
        <div class="card-header bg-white d-flex align-items-center justify-content-between">
          <h5 class="m-0">Stats</h5>
          <button type="submit" class="btn-primary btn-sm" disabled>View<i class="fas fa-eye ml-2"></i></button>
        </div>
        <div class="card-body">
          <div>Coming Soon...</div>
        </div>
      </div>
    </div>

    <div class="mt-4 col-12 col-md-6 grid-item">
      <div class="card bg-gradient-light">
        <div class="card-header bg-white d-flex align-items-center justify-content-between">
          <h5 class="m-0">Logs</h5>
          <button type="submit" class="btn-primary btn-sm" disabled>View<i class="fas fa-eye ml-2"></i></button>
        </div>
        <div class="card-body">
          <div>Coming Soon...</div>
        </div>
      </div>
    </div>

    <div class="mt-4 col-12 col-md-6 grid-item">
      <?- include('../dashboard/install') ?>
    </div>

  </div>


</div>
<?- include('../layouts/page-bot') ?>
