<?- include('../layouts/page-top', {tab: ''}) ?>
<div class="container has-toolbar-bottom mb-5">
  <?- include('../layouts/page-title', {fixed: true}) ?>

  <div class="row">


      <form action="/download/update" method="post" class="mx-auto mt-4 col-12 col-md-6" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<?= download.id ?>">
        <div class="card p-2 bg-gradient-light" >
          <div class="card-body">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<?= download.name ?>">
            </div>
            <div class="form-group">
              <label for="version">Version</label>
              <input type="text" class="form-control" id="version" name="version" placeholder="Version" value="<?= download.version ?>">
            </div>
            <div class="form-group">
              <label for="upload">Upload File</label>
              <input type="file" class="form-control-file" id="upload" name="upload">
            </div>
            <button type="submit" class="btn btn-primary shadow-sm">Save <i class="fas fa-check"></i></button>
          </div>
        </div>
      </form>

      <? if (download.ipaUrl) { ?>
        <div class="mx-auto mt-4 col-12 col-md-6">
          <div class="card p-2 bg-gradient-light" >
            <div class="card-body">
              <h4><?= download.name ?></h4>
              <div class="d-flex">
                <img src="<?= download.iconUrl ?>" alt="icon">
                <div class="ml-3">
                  <div><strong>Size: </strong><?= download.size ?></div>
                  <div><strong>Version: </strong><?= download.version ?></div>
                  <a href="/download/get/<?= download.id ?>" class="btn btn-primary">Download .ipa</a>
                </div>
              </div>


            </div>
          </div>
        </div>

      <? } ?>

  </div>


</div>
<?- include('../layouts/page-bot') ?>
