
<div class="container mt-5">
  <a href="/#/" class="back"><i class="far fa-chevron-left mr-1"></i>Back</a>
  <h1 class="text-center mb-4">Login / Signup</h1>

  <div class="m-auto w-100" style="max-width: 400px">
    <form action="">
      <div class="item-grouping">
        <div class="item">
          <div class="item-content py-1">
            <input type="text" class="form-control border-0" placeholder="Username">
          </div>
        </div>
        <div class="item">
          <div class="item-content py-1">
            <input type="password" class="form-control border-0" placeholder="Password">
          </div>
        </div>
      </div>

      <div class="w-100 text-center">
        <button type="submit" name="button" class="btn btn-link">Continue</button>
      </div>

    </form>

    <div class="text-center mt-4">
      <p>Or authenticate with services you already use.</p>
      <div>
        <a href="/auth/twitter" class="mx-1">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="/auth/github" class="mx-1">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </div>
    </div>
  </div>


</div>
