<?- include('../layouts/page-top', {tab: 'search'}) ?>
<div class="container">
  <div class="page-title flexible mb-4 border-0">
    <div class="w-100">Search</div>
    <div class="input-group mb-3 highlighted-search text-normal ">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="icon-search text-muted"></i></span>
      </div>
      <div class="position-relative w-100">
        <input type="text" class="form-control auto-download" placeholder="Search Apps..." id="ipa-redirect">
      </div>
    </div>
  </div>



  <div class="section-title bottom m-0">
    Trending
  </div>

  <div class="item-grouping">
    <div class="item">
      <div class="item-content py-2">
        thing
      </div>
    </div>
    <div class="item">
      <div class="item-content py-2">
        thing
      </div>
    </div>
  </div>

</div>
<?- include('../layouts/page-bot') ?>
