<?- include('../layouts/page-top', {tab: 'today'}) ?>
<div class="container has-toolbar-bottom" id="today-page-container">
  <div class="page-title hide-on-modal-page">
    <div class="text-muted subtitle"><script>document.write(Time.format(new Date, '$l, $F $j'))</script></div>
    Today
    <?- include('../layouts/avatar') ?>
  </div>

  <div class="row hide-on-modal-page">
    <? articles.forEach( article => { ?>
      <?- include('../layouts/article-thumbnail', article.published) ?>
    <? }) ?>
  </div>

  <? articles.forEach( article => { ?>
    <div class="modal modal-page p-0 bg-white" id="article-modal-<?= article._id ?>" tabindex="-1" role="dialog">
      <div class="mx-auto col-12 p-0">
        <button type="button" class="article-close" data-modal-close="article-modal-<?= article._id ?>" aria-label="Close">
            <i class="fal fa-times fa-lg"></i>
        </button>
        <div class="float-lg-left m-lg-3">
          <div class="article-open d-flex d-sm-inline-block justify-content-center">
            <img height="400" src="<?= article.image.thumbnail ?>" alt="">
            <div class="article-header">
              <div class="p-3">
                <div class="h5" style="opacity: 0.8; color: #<?= article.colors.title2 ?>"><?= article.title2 ?></div>
                <div class="h3 m-0 font-weight-bold" style="color: #<?= article.colors.title ?>"><?= article.title ?></div>
              </div>
              <div class="p-3">
                <div class="h6" style="color: #<?= article.colors.subtitle ?>"><?= article.subtitle ?></div>
              </div>
            </div>
          </div>
        </div>
        <div class="article-body px-3 px-md-0 py-2 p-lg-3">
          <div class="mb-2">
            <?- include('../layouts/reactions', { type: 'article', id: article._id, reactions: article.reactions}) ?>
          </div>
          <div>
            <?- markdown(article.content) ?>
          </div>
        </div>
      </div>
    </div>
  <? }) ?>






</div>
<?- include('../layouts/page-bot') ?>
