<?- include('../layouts/page-top', {tab: 'today'}) ?>
<div class="container has-toolbar-bottom" id="today-page-container">
  <div class="page-title hide-on-modal-page">
    <div class="text-muted subtitle"><script>document.write(Time.format(new Date, '$l, $F $j'))</script></div>
    Today
    <?- include('../layouts/avatar') ?>
  </div>

  <div class="row hide-on-modal-page">
    <? articles.forEach( article => { ?>
      <?- include('../layouts/article-thumbnail', article.published) ?>
    <? }) ?>
  </div>







</div>
<?- include('../layouts/page-bot') ?>
