<?- include('../layouts/page-top', {tab: 'today'}) ?>
<div class="container" id="today-page-container">
  <div class="page-title">
    <div class="text-muted subtitle"><script>document.write(getDate())</script></div>
    Today
    <?- include('../layouts/avatar') ?>
  </div>
  <div class="mt-4 col-12 col-md-6 grid-item">
    <?- include('../dashboard/install') ?>
  </div>

  <div class="linkable bg-danger my-2" url="https://google.com"> click me</div>

</div>
<?- include('../layouts/page-bot') ?>
