
<div class="page-title">
  <div class="text-muted subtitle today">Monday, July 16</div>
  Today
  <a href="#/profile">
    <i class="fal fa-user-circle"></i>
  </a>
</div>

<script type="text/javascript">
  console.log('asdfasdf');
</script>
