<?- include('../layouts/page-top', {tab: 'updates'}) ?>
<div class="container">
  <?- include('../layouts/page-title', {fixed: true}) ?>

  <div>hello world</div>
</div>
<?- include('../layouts/page-bot') ?>
